<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>
<h1>Slice</h1>
<ul>
    {{range $country, $el := .}}
    <li>{{$country}} - {{$el}}</li>
    {{end}}
</ul>
</body>
</html>
