<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Composition</title>
</head>
<body>

<h1>{{.Name}}</h1>
<h2>{{.Age}}</h2>
<h2>Double age: {{.DoubleAge}}</h2>
<h2>Takes args: {{.DoubleAge | .TakesArgs}}</h2>
</body>
</html>